.pkp_html .pkp_body #pkp-container.pkp-container_800 {
  padding-left: 30px;
  padding-right: 30px;
}

.pkp_html .pkp_body #pkp-container {
  padding-bottom: 3px;
}

.pkp_html .pkp_body #pkp-container.pkp-container_800 h3,
.pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-form,
.pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-btns-holder,
.pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-footer {
  padding-left: 10px;
}

.pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-payment-method {
  margin-left: 8px;
}

.invoice-amount {
  float: left;
  margin-right: 141px;
  padding-left: 10px;
}

#pokupo_amount {
  margin-right: 16px;
}

.payment-list {
  position: relative;
  float: right;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 20px;
  padding-top: 9px;
  color: #177a93;
  border-bottom: 1px dotted #177a93;
  cursor: pointer;
  z-index: 1;
}

.payment-list::before {
  position: absolute;
  top: 14px;
  left: -19px;
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background-image: url("images/payment_arrow.png");
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__image img {
  left: -10px;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__item {
  padding-top: 0;
  min-height: 70px;
  margin-left: 4px!important;
  margin-right: 15px!important;
  margin-top: 18px!important;
  margin-bottom: 0!important;
}

/* .pkp_html .pkp_body #pkp-container .pkp-payment-method__item:nth-child(3n+4) {
  margin-right: 0!important;
} */

.pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+3) {
  margin-right: 0!important;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__content {
  height: 68px;
  border-radius: 8px;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__content:hover .pkp-payment-method__pay {
  color: #4fb44f;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__content:hover .pkp-payment-method__pay > span:first-child {
  color: #000;
}

/* .pkp_html .pkp_body #pkp-container .pkp-tooltip-payment-method {
  z-index: 1;
} */

.pkp_html .pkp_body #pkp-container .pkp-payment-method__pay {
  left: 100px;
  bottom: 40px;
  width: auto;
  height: auto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  background-color: #fff;
  border-radius: 0;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__pay > span {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__pay > span:last-child {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method {
  clear: both;
  margin-top: 8px;
  margin-bottom: 17px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__image {
  height: 68px;
  vertical-align: top;
  padding-top: 2px;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__pay {
  left: 108px;
  bottom: 18px;
}

.pkp_html .pkp_body #pkp-container .pkp-tooltip-payment-method {
  right: -8px;
  top: -8px;
  border-radius: 50%;
}

.pkp_html .pkp_body #pkp-container .pkp-tooltip {
  width: 18px;
  border-radius: 50%;
}

.pkp_html .pkp_body #pkp-container .pkp-tooltip__trigger {
  font-size: 12px;
  line-height: 16px;
  border-width: 2px;
}

.pkp_html .pkp_body #pkp-container .pkp-btns-holder {
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

.pkp_html .pkp_body #pkp-container .pkp-footer {
  text-align: left;
}


.pkp-payment-method__group {
  display: none;
}

.pkp-payment-method__group--show {
  display: block;
  margin-left: 5px;
}

.pkp_html .pkp_body #pkp-container .pkp-title {
  position: relative;
}

.payment-list--show::before {
  transform: rotate(180deg);
}

.payment-list--bg {
  display: none;
  position: absolute;
  top: -8px;
  right: 0;
  width: 237px;
  height: 65px;
  background-color: #f7f5f3;
  border-radius: 10px;
  z-index: 0;
}

.pkp-payment-method__group--item {
  float: left;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__group--item {
  background-color: #f7f5f3;
}

.pkp-payment-method__group--search {
  float: right;
}

.pkp-payment-method__group--item button {
  height: 30px;
  font-size: 13px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 7px;
  margin-bottom: 10px;
  padding: 0 8px;
  border: 1px solid #d8d8d8;
  background-color: #f7f5f3;
  color: black;
  opacity: 0.7;
}

.pkp-payment-method__group--active button,
.pkp-payment-method__group--item button:hover {
  background-color: #fff;
  border-color: #4fb44f;
  color: #4fb44f;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__group--search {
  background-color: #f7f5f3;
}

.pkp-payment-method__search-button {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
  padding-right: 42px;
  background-color: #f7f5f3;
  border: none;
}

.pkp-payment-method__search-button::before {
  position: absolute;
  top: 0;
  right: 16px;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("images/search-icon.png");
}

.pkp-payment-method__search-form {
  position: relative;
  display: none;
}

.pkp-payment-method__search-form--show {
  display: block;
}

.pkp-payment-method__search-form--show::after {
  position: absolute;
  top: -24px;
  right: 51px;
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #666;
}

.pkp-payment-method__search-field {
  position: absolute;
  top: -34px;
  right: 8px;
  display: block;
  width: 720px;
  height: 50px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 18px;
  padding-right: 80px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
}

.pkp-payment-method__submit-button {
  position: absolute;
  top: -17px;
  right: 65px;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("images/search-icon.png");
  border: none;
}

.pkp-payment-method__close-button {
  position: absolute;
  top: -16px;
  right: 24px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("images/reset-icon.png");
  border: none;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method__submit-button:focus,
.pkp_html .pkp_body #pkp-container .pkp-payment-method__close-button:focus {
  border: none;
}

.pkp-form__label--invalid::before {
  position: absolute;
  top: 3px;
  right: 0;
  content: "Обязательное поле";
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fd5656;
}

.pkp-form__label--amount.pkp-form__label--invalid::before {
  right: 15px;
}

.pkp_html .pkp_body #pkp-container .pkp-form__label--email input {
  width: 710px;
  max-width: 710px;
}

.pkp_html .pkp_body #pkp-container .pkp-form__label--amount + .pkp-form__label--email input {
  width: 351px;
}

/* .pkp_html .pkp_body #pkp-container .pkp-payment-method--group {
  background-color: #f7f5f3;
} */

.pkp-payment-method--money-transfers,
.pkp-payment-method--online-wallets,
.pkp-payment-method--bank-cards {
  display: none;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+1) .pkp-tooltip__content {
  left: -21px;
}

.pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+1) .pkp-tooltip__content:after {
  left: 21px;
} 


@media screen and (max-width: 1023px) {

  .pkp_html .pkp_body #pkp-container {
    max-width: 640px;
  }

  .pkp_html .pkp_body #pkp-container.pkp-container_800 {
    padding-left: 3px;
    padding-right: 27px;
  }

  .pkp_html .pkp_body #pkp-container.pkp-container_800 h3, 
  .pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-form, 
  .pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-btns-holder, 
  .pkp_html .pkp_body #pkp-container.pkp-container_800 .pkp-footer {
    padding-left: 27px;
  }

  .invoice-amount {
    float: none;
    padding-left: 27px;
  }

  .invoice-amount + span,
  .invoice-amount + span + strong {
    padding-left: 27px;
  }


  .pkp_html .pkp_body #pkp-container .pkp-input,
  .pkp_html .pkp_body #pkp-container .pkp-form__label--amount + .pkp-form__label--email input {
    width: 270px;
  }

  .payment-list {
    margin-right: 21px;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method__item {
    margin-left: 41px!important;
    margin-right: 27px!important;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+3) {
    margin-right: 27px!important;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(2n+2) {
    margin-right: 0!important;
  }

  .pkp_html .pkp_body #pkp-container .pkp-form__label--email input {
    width: 560px;
  }

  .payment-list--bg {
    width: 183px;
  }

  .pkp-payment-method__group--show {
    margin-left: 20px;
    margin-bottom: 82px;
  }

  .pkp-payment-method__group--item button {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .pkp-payment-method__search-button {
    display: none;
  }

  .pkp-payment-method__search-form {
    display: block;
  }

  .pkp-payment-method__search-field {
    top: -101px;
    right: 22px;
    display: block;
    width: 560px;
  }

  .pkp-payment-method__submit-button {
    top: -84px;
    right: 35px;
  }

  .pkp-payment-method__close-button {
    display: none;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+1) .pkp-tooltip__content {
    left: inherit;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(3n+1) .pkp-tooltip__content:after {
    left: inherit;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(odd) .pkp-tooltip__content {
    left: -160px;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(odd) .pkp-tooltip__content:after {
    left: 160px;
  } 

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(even) .pkp-tooltip__content {
    right: -21px;
  }

  .pkp_html .pkp_body #pkp-container .pkp-payment-method--group .pkp-payment-method__item:nth-child(even) .pkp-tooltip__content:after {
    right: 21px;
  } 




}
